.greenid-so-modal .greenid-loader-container {
  display: block;
  width: 100%;
  height: 38px;
  text-align: center;
  background-image: url(img/loader.gif);
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
}
.greenid-so-modal#greenid-wait-modal {
  background-color: #f1f5fc;
}
.greenid-so-modal#greenid-wait-modal .modal-content {
  background-color: inherit;
}
.greenid-so-modal#greenid-wait-modal .modal-body {
  color: #799ae0;
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5rem;
}
