#greenid-wait-modal {
  background-color: '#F1F5FC';
}
#greenid-wait-modal .modal-content {
  background-color: inherit;
}
#greenid-wait-modal .modal-body {
  color: '#799AE0';
  opacity: 0.8;
  font-size: 16;
  line-height: 24;
}
