// Colors 
@red:'#FC4349';
@alert: '#FC4349';
@green: '#8CC63F';
@valid: '#8CC63F';
@dark: '#213249';
@light: '#F1F5FC';
@background: '#ffffff';
@white: '#ffffff';
@base: '#445878';
@primary: '#799AE0';
@pink: '#FF87C3';
@turquoise: '#58CBCF';
@yellow: '#DECD58';
@orange: '#FFAA4A';
@black: '#213249';

// grid
@unit: 16;
@headline: 32;
@title: 24;
@subheader: 18;
@body: 14;
@caption: 12;
@label: 10;
@lineHeight: 1.5;
@navIcon: 20;
@border: 2;
@font: 'Roboto-Regular';
@fontAccent: 'Bitter-Bold';
@lowOpacity: 0.4;
@mediumOpacity: 0.6;
@highOpacity: 0.8;

// Loader Screen
#greenid-wait-modal {
  background-color: @light;

  .modal-content{
    background-color: inherit;
  }
  .modal-body{
    color: @primary;
    opacity: @highOpacity;
    font-size: @unit;
    line-height: @unit * @lineHeight;
  }
}