// load in http://mockup.edentiti.com/greenid-mobile/
// https://littlesurimi.github.io/greenID.css
@import "./node_modules/bootstrap/less/bootstrap.less";
@import "src/bs_variables";
@import "src/variables";

.greenid-modal{
  display: flex!important;
  flex: 1!important;
  flex-direction: column!important;
}

// Loader Screen
.greenid-so-modal {
  justify-content: space-between;
  // gif used as bg-img
  .greenid-loader-container {
    display: flex;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-image: url(src/img/loader.gif);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px;
  }
  // Load Screen
  &#greenid-wait-modal {
    background-color: @light;
    .modal-dialog{
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-top: 0!important;
    }
    .modal-content{
      background-color: inherit;
      display: flex;
      flex: 1;
    }
    // Wrap load text and gif
    .modal-body{
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding: @unit*2;
      color: @primary;
      opacity: @highOpacity;
      font-size: @unit;
      line-height: @unit * @lineHeight;
    }
  }
}
