.greenid-modal,
.greenid-so-content {
  display: flex!important;
  flex: 1!important;
  flex-direction: column!important;
}
.greenid-modal #greenid-container,
.greenid-so-content #greenid-container {
  font-family: 'Roboto-Regular';
  color: #445878;
}
.greenid-modal #greenid-container h1,
.greenid-so-content #greenid-container h1 {
  font-family: 'Bitter-Bold';
  font-size: 2rem;
  color: #1b4581;
  line-height: 3rem;
}
.greenid-modal #greenid-container p,
.greenid-so-content #greenid-container p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.greenid-modal #greenid-container strong,
.greenid-so-content #greenid-container strong {
  font-family: 'Roboto-Regular';
  font-weight: 800;
}
.greenid-so-modal {
  justify-content: space-between;
}
.greenid-so-modal .greenid-loader-container {
  display: flex;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background-image: url(img/loader.gif);
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
}
.greenid-so-modal#greenid-wait-modal {
  background-color: #f1f5fc;
}
.greenid-so-modal#greenid-wait-modal .modal-dialog {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 0!important;
}
.greenid-so-modal#greenid-wait-modal .modal-content {
  background-color: inherit;
  display: flex;
  flex: 1;
}
.greenid-so-modal#greenid-wait-modal .modal-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: #799ae0;
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5rem;
}
#greenid-completelater,
#greenid-source-help {
  display: none !important;
}
