// Colors
@red: #FC4349;
@alert: #FC4349;
@green: #8CC63F;
@valid: #8CC63F;
@dark: #213249;
@brand: #1B4581;
@light: #F1F5FC;
@background: #ffffff;
@white: #ffffff;
@base: #445878;
@primary: #799AE0;
@pink: #FF87C3;
@turquoise: #58CBCF;
@yellow: #DECD58;
@orange: #FFAA4A;
@black: #213249;

// grid
@unit: 16px;
@headline: @unit*2;
@title: @unit*1.5;
@subheader: @unit*1.125;
@body: @unit;
@caption: @unit*.75;
@label: @unit*.625;
@lineHeight:1.5;
@navIcon: @unit*1.25;
@border: @unit*.125;
@font: 'Roboto-Regular';
@fontAccent: 'Bitter-Bold';
@lowOpacity: 0.4;
@mediumOpacity: 0.6;
@highOpacity: 0.8;

